
.event-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .event-card:hover {
    cursor:pointer;
  }
  
  .event-info {
    margin-bottom: 10px;
  }
  
  .event-info-label {
    font-weight: bold;
    color: #333;
  }
  
  .event-info-value {
    color: #666;
  }
  
  /* CSS for EventCardStack */
  .event-card-stack {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  